<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$fapdidev</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fapdidev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/757f9243-833a-448e-9805-5c7f5067180c/resourceGroups/DEV-PDI-Publisher-ETL/providers/Microsoft.Web/sites/fapdidev</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fapdidev.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>